spring:
  # profiles:
  #   active: test

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/ewm-request-service-db
    username: dbuser
    password: 12345

  cloud:
    openfeign:
      circuitbreaker:
        enabled: false

logging:
  level:
    org.springframework.orm.jpa: INFO
    org.springframework.transaction: INFO

server:
  port: 0
